/*!* Color Theme Swatches in Hex *!*/
.Corporate-Orange--Blue-1-hex { color: #010A26; }
.Corporate-Orange--Blue-2-hex { color: #011640; }
.Corporate-Orange--Blue-3-hex { color: #B6D6F2; }
.Corporate-Orange--Blue-4-hex { color: #FFFFFF; }
.Corporate-Orange--Blue-5-hex { color: #E83338; }
.Corporate-Orange--Blue-6-hex { color: #F6F6F6; }
/*!* Color Theme Swatches in RGBA *!*/
/*.Corporate-Orange--Blue-1-rgba { color: rgba(47, 66, 105, 1); }*/
/*.Corporate-Orange--Blue-2-rgba { color: rgba(144, 189, 212, 1); }*/
/*.Corporate-Orange--Blue-3-rgba { color: rgba(216, 232, 244, 1); }*/
/*.Corporate-Orange--Blue-4-rgba { color: rgba(255, 255, 255, 1); }*/
/*.Corporate-Orange--Blue-5-rgba { color: rgba(242, 96, 1, 1); }*/

/*!* Color Theme Swatches in HSLA *!*/
/*.Corporate-Orange--Blue-1-hsla { color: hsla(221, 37, 30, 1); }*/
/*.Corporate-Orange--Blue-2-hsla { color: hsla(199, 43, 70, 1); }*/
/*.Corporate-Orange--Blue-3-hsla { color: hsla(207, 58, 90, 1); }*/
/*.Corporate-Orange--Blue-4-hsla { color: hsla(0, 0, 100, 1); }*/
/*.Corporate-Orange--Blue-5-hsla { color: hsla(23, 99, 47, 1); }*/
body{
  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
  font-family: 'Roboto', sans-serif;
  margin:0;
}
a{
  margin: 0;
  color:black;
  text-decoration: none;
}
a:link{
  text-decoration: none;
  color:black;
}
a:visited{
  text-decoration: none;
  color: black;
}
.main-container{
  position: relative;
  display: flex;
  min-height: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /*width: 1100px;*/
  margin-left: auto;
  margin-right: auto;
}

.header{
  width: 100%;
}

.header__logo{
  background-color: #B6D6F2;
  /*border-width: 1px;*/
  /*border-color: black;*/
  /*border-style: solid;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__name{
  color: #010A26;
  padding-left: 1rem;
}
.header__name a{
  color: #010A26;
}
.auth{
  padding-right: 1rem;
}


ul{
  margin:0;
}
.nav__list{
  padding-left: 0;
  background-color: #E83338;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
.nav__item{
    position: relative;

}
.nav__link{
  position: relative;
  display: block;
  padding: 0.8rem 0.5rem;
  height: 100%;
  font-size: 1.4rem;
  text-decoration: none;
  color: #FFFFFF;
}
.nav__item:hover{
  background-color: rgba(182, 214, 242, 0.3);
  transition:0.5s;
}

.nav__link:link{
  text-decoration: none;
  color: #FFFFFF;
}
.nav__link:visited{
  text-decoration: none;
  color: #FFFFFF;
}
.nav__link.active{
  background-color: rgba(182, 214, 242, 0.7)!important;
}
.main-wrapper{
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px ){
  .main-wrapper{
    width: 100%;
  }
}
.main-articles{
  width: 58%;
}
.articles__header{
  align-self: self-start;
  font-size: 2rem;
  padding-left: 1rem;
  color: #010A26;
}

.article{
  position: relative;
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  margin-top: 10px;
 }
.article .aside{
  position: relative;
  width:100%;
}
.my-events{
  position: relative;
  width: 38%;
}
.thumbnail{
  text-align: center;
  height: 100px;
  width: 100px;
  background-color:greenyellow;
}

.main-footer{
  width: 100%;
  height:100px;
  margin-top: auto;
  background-color: #010A26;
  color: #B6D6F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pagination__list{
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.pagination__item{
  margin-left: 0.2rem;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 1.2rem;
  text-align: center;
}
.login__form{
  border: 0.2rem solid black;
  font-size:1.5rem;
  width:300px;
  height:300px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__header{
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.7rem;
}

.login__label{
  display:flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}


.register__form{
  border: 0.2rem solid black;
  font-size:1.5rem;
  width:500px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register__header{
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.7rem;
}

.register__label{
  display:flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
.add-event__form{
  font-size:1.2rem;
  display:flex;
  flex-direction: column;
}
.add-event__label{
  margin-bottom: 10px;
  display:flex;
  flex-direction: column;
}
.comment-section{
  margin-top: 30px;
  width: 60rem;

}
.comment__form{
  display:flex;
  flex-direction: column;
}
.comment__label{
  font-size: 1.3rem;
  font-weight: bold;
  display:block;
}
.comment__text{
  display:block;
}
.comment__p{
  position: relative;
  width:100%;
}

.account__wrapper{
  display: flex;
  margin-top: 5rem;
}
.account__input{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
.account__wrapper input{
  margin-top: 0.5rem;
}

.subs{
  flex-direction: column;
}
.message{
  width: 60rem;
}
.comment__article div{
  margin:1rem 0;
}